<div class="col-md-12">
    {% if listing_list.has_other_pages %}
  <ul class="pagination">
        {% if listing_list.has_previous %}
            <li class="page-item">
              <a class="page-link" href="?page={{ listing_list.previous_page_number }}">&laquo;</a>
            </li>
        {% else %}
            <li class="page-item disabled">
              <a class="page-link">&laquo;</a>
            </li>
        {% endif %}
    {% for i in listing_list.paginator.page_range %}
        {% if listing_list.number == i %}
        <li class="page-item active">
          <a class="page-link">{{ i }}</a>
        </li>
        {% else %}
        <li class="page-item">
          <a class="page-link" href="?page={{ i }}">{{ i }}</a>
        </li>
        {% endif %}
    {% endfor %}
        {% if listing_list.has_next %}
            <li class="page-item">
              <a class="page-link" href="?page={{ listing_list.next_page_number }}">&raquo;</a>
            </li>
        {% else %}
            <li class="page-item disabled">
              <a class="page-link">&laquo;</a>
            </li>
        {% endif %}
  </ul>
  {% endif %}
</div>
</div>
<!--End Pagination-->